

<div class="card shadow mb-4"> <!-- [style.opacity]="!article.has_neighbors ? '.8' : '1.0'"> -->
  <div class="card-header py-3">
    <div class="row">
      <div class="col-sm-10">
        <div class="text-gray" *ngIf="!article.has_neighbors">Processing...</div>
        <a [routerLink]="['/articles', 'details', article.id]">
          <h3 class="card-title" style="">{{ article.title }}</h3></a>

      </div>
      <div class="col-sm-2 text-danger">
        <div style="float: left">
          <strong>{{ article.date }}</strong>
        </div>
        <!--{% include 'articles/utils/more_dropdown.html' %}-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10">
        <div class="h7 pl-3 pt-2 font-weight-bold text-gray-800">
            <span style="color: #4e73df" *ngFor="let author of article.authors;  let isLast=last">
              {{ author.name }}{{isLast ? '' : ', '}}
            </span>
        </div>
      </div>
      <div class="col-sm-2">
        {{ article.arxiv_id }} | {{ article.category }}
      </div>
    </div>

  </div>
  <div class="card-body">

    {{ article.abstract }}
    <hr>
    <div class="row form-group">

      <div class="col-sm-10 button-row">

        <!--<a [routerLink]="['/articles', 'details', article.id]" class="btn btn-primary btn-round">-->
    <!--<span class="icon">-->
        <!--<i class="material-icons">info</i>-->
    <!--</span>-->
          <!--<span class="text">Details</span>-->
        <!--</a>-->
        <button mat-raised-button [routerLink]="['/articles', 'details', article.id]" color="primary" style="font-weight: bold; background-color: #4e73df!important;" class="primary">Details</button>
        <a mat-stroked-button href="{{ article.url }}" style="font-weight: bold;">PDF</a>

        <!--<a href="{{ article.url }}" class="btn btn-success btn-round" target="_blank">-->
            <!--<span class="icon">-->
            <!--<i class="material-icons">unarchive</i>-->
            <!--</span>-->
          <!--<span class="text">Read on ArXiv</span>-->
        <!--</a>-->

        <button mat-stroked-button *ngIf="!article.in_lib"
                (click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated"><span style="font-weight: bold;">Save to Library</span>
        </button>

        <button mat-stroked-button *ngIf="article.in_lib"
                (click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated" style="font-weight: bold;">Saved</button>

        <!--<button class="btn btn-primary btn-round savetolibrary" *ngIf="!article.in_lib"-->
                <!--(click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated">-->
          <!--<span class="icon">-->
          <!--<i class="material-icons">bookmark</i>-->
          <!--</span>-->
          <!--<span class="text">Save to Library</span>-->
        <!--</button>-->
        <!--<button class="btn btn-default btn-round donotsave" *ngIf="article.in_lib"-->
                <!--(click)="articleService.addRemoveFromLib(article)" >-->
            <!--<span class="icon">-->
            <!--<i class="material-icons">bookmark</i>-->
            <!--</span>-->
          <!--<span class="text">Saved</span>-->
        <!--</button>-->
        <div class="note-button">
          <span class="note-badge" id="note-badge-{{ article.id }}" *ngIf="note.value != ''"> </span>
          <button mat-stroked-button attr.aria-controls="collapseUtilities"
                  aria-expanded="false" data-toggle="collapse"
                  attr.data-target="#note-collapse-{{ article.id }}" [disabled]="!isAuthenticated" style="font-weight: bold;">Note</button>
          <!--<button class="btn btn-warning btn-round note" type="button" attr.aria-controls="collapseUtilities"-->
                  <!--aria-expanded="false" data-toggle="collapse" attr.data-target="#note-collapse-{{ article.id }}"  [disabled]="!isAuthenticated">-->
                    <!--<span class="icon">-->
                        <!--<i class="material-icons">comment</i>-->
                    <!--</span>-->
            <!--<span class="text">Note</span>-->
          <!--</button>-->
        </div>


      </div>

      <div class="col-md-2">
      <app-articlelike [article]="article" [isAuthenticated]="isAuthenticated"></app-articlelike>
      </div>
    </div>
    <p>

    <div class="collapse article-note" id="note-collapse-{{ article.id }}">
          <textarea #note class="form-control note-area note-form" id="note-{{ article.id }}"
                    placeholder="You type, we save..."
                    attr.data-article-id="{{ article.id }}" rows="3"
                    [(ngModel)]="article.note" (input)="updateNote(note.value, article)">{{ article.note }}</textarea>
    </div>
  </div>
</div>
