
<body>

<!-- Header Area wrapper Starts -->
<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a routerLink="/" class="navbar-brand"><img height="50" src="../../assets/img/logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a [routerLink]="" (click)="openDialog()" class="nav-link">
              Analyse paper
            </a>
          </li>
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" routerLink="/dashboard">-->
              <!--<span class="text-danger">Premium</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" routerLink="/articles/popular">-->
              <!--Articles-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" (click)="loginDialog.openDialog(['/articles/popular'])">-->
              <!--Login / SignUp-->
            <!--</a>-->
          <!--</li>-->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->

  <!-- Hero Area Start -->
  <div id="hero-area" class="hero-area-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="contents text-center">
            <h1 class="head-title wow fadeInUp">Scientific writing analysis</h1>
            <h4 class="head-subtitle wow fadeInUp">Check your article before submission</h4>
            <!--<div class="header-button wow fadeInUp" data-wow-delay="0.3s">-->
            <p></p>
              <a [routerLink]="" (click)="openDialog()" class="btn btn-common">Get started</a>
            <!--</div>-->
          </div>
          <div class="img-thumb text-center wow fadeInUp" data-wow-delay="0.6s">
            <!--<img class="img-fluid" src="../../assets/landing/img/hero-1.png" alt="">-->
            <object type="image/svg+xml" data="../../assets/landing/img/undraw_timeline_9u4u.svg" width="400" height="400" ></object>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Area End -->

</header>
<!-- Header Area wrapper End -->

<!-- Feature Section Start -->
<div id="feature">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="text-wrapper">
          <div>
            <h2 class="title-hl wow fadeInLeft" data-wow-delay="0.3s">Spend time researching, not editing!</h2>
            <h5 class="mb-4">Do impactful research</h5>
            <!--<a href="#" class="btn btn-common">More About Us</a>-->
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 padding-none feature-bg">
        <div class="feature-thumb">
          <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="icon">
              <i class="material-icons">widgets</i>
            </div>
            <div class="feature-content">
              <h3>Time</h3>
              <p>Spend time researching, not editing</p>
            </div>
          </div>
          <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="icon">
              <i class="material-icons">subtitles</i>
            </div>
            <div class="feature-content">
              <h3>Community</h3>
              <p>Join the most productive researchers by publishing impactful paper</p>
            </div>
          </div>
          <div class="feature-item wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="icon">
              <i class="material-icons">dvr</i>
            </div>
            <div class="feature-content">
              <h3>Meaning</h3>
              <p>Make science, reduce review burden, develop science</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature Section End -->

<section class="section-padding">
  <div class="row justify-content-md-center">
    <!--<div class="col-md-8">-->
    <app-acceptance></app-acceptance>
    <!--</div>-->
  </div>
</section>


<!--<section  class="section-padding  bg-gray">-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->


      <!--<div class="col-lg-4 col-md-12 pl-4">-->
        <!--<div class="business-item-info">-->
          <!--<a [routerLink]="" (click)="openDialog()"><h3>Predict acceptance probability</h3></a>-->
          <!--<h5>Get probability of acceptance to different conferences</h5>-->
          <!--&lt;!&ndash;<a class="btn btn-common" href="#">download</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-8 col-md-12 pl-0 pt-70 pr-5">-->
        <!--<div class="business-item-img">-->
          <!--<img class="peerly" src="../../assets/landing/img/acceptance.png" style="">-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<section class="section-padding  bg-gray">
  <div class="container">
    <div class="row align-items-center">




      <div class="col-lg-8 col-md-12 pl-0 pt-70 pr-5">
        <div class="business-item-img">
          <img class="peerly" src="../../assets/landing/img/fit_to_conf.png" style="box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);">
          <!--<object type="image/svg+xml" data="../../assets/landing/img/undraw_typewriter_i8xd.svg" width="800" height="400" ></object>-->
        </div>
      </div>

      <div class="col-lg-4 col-md-12 pl-4">
        <div class="business-item-info">
          <a [routerLink]="" (click)="openDialog()"><h3>Conference template</h3></a>
          <h5>Check whether your article satisfies conference template</h5>
          <!--<a class="btn btn-common" href="#">download</a>-->
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section-padding  bg-gray">
  <div class="container">
    <div class="row align-items-center">


      <div class="col-lg-4 col-md-12 pl-4">
        <div class="business-item-info">
          <a [routerLink]="" (click)="openDialog()"><h3>Scientific writing</h3></a>
          <h5>Make your writing truly scientific</h5>
          <!--<a class="btn btn-common" href="#">download</a>-->
        </div>
      </div>

      <div class="col-lg-8 col-md-12 pl-0 pt-70 pr-5">
        <div class="business-item-img">
          <img class="peerly" src="../../assets/landing/img/skipped_parts.png" style="box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);">
          <!--<object type="image/svg+xml" data="../../assets/landing/img/undraw_typewriter_i8xd.svg" width="800" height="400" ></object>-->
        </div>
      </div>

    </div>
  </div>
</section>


<section id="" class="section-padding bg-gray">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-12 col-md-12 pl-0 pt-70 pr-5">
        <div class="business-item-img">
          <img class="peerly" src="../../assets/landing/img/literature.png" style="box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);">
        </div>
      </div>
      <!--<div class="col-lg-4 col-md-12 pl-4">-->
        <!--<div class="business-item-info">-->
          <!--<a [routerLink]="" (click)="openDialog()"><h3>Don't miss citations</h3></a>-->
          <!--<h5>ML prior suggests references you forgot to include to article</h5>-->
          <!--&lt;!&ndash;<a class="btn btn-common" href="#">download</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</section>

<section class="section-padding  bg-gray">
  <div class="container">
    <div class="row align-items-center">
      <!--<div class="col-lg-4 col-md-12 pl-4">-->
        <!--<div class="business-item-info">-->
          <!--<a [routerLink]="" (click)="openDialog()"><h3>Check formulas</h3></a>-->
          <!--<h5>Check consistency of formulas and variables. </h5>-->
          <!--&lt;!&ndash;<a class="btn btn-common" href="#">download</a>&ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-lg-12 col-md-12 pl-0 pt-70 pr-5">
        <div class="business-item-img">
          <img class="peerly" src="../../assets/landing/img/Formulas.png" style="box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);">
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Services Section Start -->
<!--<section id="services" class="section-padding bg-gray">-->
  <!--<div class="container">-->
    <!--<div class="section-header text-center">-->
      <!--<h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Our Features</h2>-->
      <!--<p>Made by researchers for researchers</p>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="0.3s">-->
          <!--<div class="icon">-->
            <!--<i class="fas fa-th-list"></i>-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a (click)="openDialog()">ArXiv articles</a></h3>-->
            <!--<p>We have already indexed {{nArticles}} ArXiv papers from Computer Science...</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="0.6s">-->
          <!--<div class="icon">-->
            <!--<i class="fas fa-bookmark"></i>-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a (click)="openDialog()">Personal Library</a></h3>-->
            <!--<p>Save interesting papers to your personal library. Take notes. <a [routerLink]="" (click)="loginDialog.openDialog(['/articles/popular'])">Login</a> to start using the full range of features</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="0.9s">-->
          <!--<div class="icon">-->
            <!--<i class="fab fa-medium"></i>-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a (click)="openDialog()">Blog Posts</a></h3>-->
            <!--<p>We regularly attach blog posts to scientific papers</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="1.2s">-->
          <!--<div class="icon">-->
            <!--&lt;!&ndash;<i class="fab fa-github"></i>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a [routerLink]="" (click)="openDialog()">GitHub repositories<sup>*</sup></a></h3>-->
            <!--<p>We have already attached {{nGitHubs}} GitHub repositories to corresponding papers</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="1.5s">-->
          <!--<div class="icon">-->
            <!--&lt;!&ndash;<i class="material-icons">widgets</i>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a [routerLink]="" (click)="openDialog()">Recommendation system</a></h3>-->
            <!--<p>Use our recommendation system in order to filter out non-relevant articles. <a [routerLink]="" (click)="loginDialog.openDialog(['/articles/popular'])">Sign up</a> to configure the system</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Services item &ndash;&gt;-->
      <!--<div class="col-md-6 col-lg-4 col-xs-12">-->
        <!--<div class="services-item wow fadeInRight" data-wow-delay="1.8s">-->
          <!--<div class="icon">-->
            <!--<i class="material-icons">subtitles</i>-->
          <!--</div>-->
          <!--<div class="services-content">-->
            <!--<h3><a (click)="openDialog()">AI highlighting</a></h3>-->
            <!--<p>For each paper we created the summary: 5 most important sentences from the article.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!-- Services Section End -->



<section class="bg-gray">
  <div class=" row justify-content-md-center">
  <div class="col-md-4">
  <app-request-demo></app-request-demo>
  </div>
  </div>
</section>


<!-- Contact Section Start -->
<!--<section id="contact" class="section-padding">-->
  <!--<div class="container">-->
    <!--<div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">-->
      <!--<div class="col-md-6 col-lg-6 col-sm-12">-->
        <!--<div class="contact-block">-->
          <!--<form #subscribeForm="ngForm">-->
            <!--<div class="row">-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="bmd-label-floating"><strong>Your Name</strong></label>-->
                  <!--<input type="text"-->
                         <!--id="name"-->
                         <!--class="form-control"-->
                         <!--ngModel-->
                         <!--name="name"-->
                         <!--required-->
                         <!--placeholder="Name...">-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
                <!--<div class="form-group">-->
                  <!--<label class="bmd-label-floating"><strong>Your Email</strong></label>-->
                  <!--<input type="email"-->
                         <!--id="email"-->
                         <!--class="form-control"-->
                         <!--ngModel-->
                         <!--name="email"-->
                         <!--required-->
                         <!--placeholder="Email...">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label for="exampleMessage" class="bmd-label-floating"><strong>Tell us something</strong></label>-->
              <!--<textarea type="text"-->
                        <!--id="text"-->
                        <!--class="form-control"-->
                        <!--ngModel-->
                        <!--name="text"-->
                        <!--placeholder="Type here..."></textarea>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-md-4 ml-auto mr-auto text-center">-->
                <!--<button class="btn btn-primary btn-raised" (click)="onSubmit(subscribeForm)">-->
                  <!--Subscribe-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row" *ngIf="isSuccess">-->
              <!--<div class="col-md-4 ml-auto mr-auto text-center">-->
                <!--Your message was successfully sent. Thank you friend!-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-6 col-lg-6 col-sm-12">-->
        <!--<div class="contact-right-area wow fadeIn">-->
          <!--<div class="contact-title">-->
            <!--<h1>Subscribe to our updates</h1>-->
            <!--<p>Or just write your feedback</p>-->
          <!--</div>-->
          <!--<h2>Contact Us</h2>-->
          <!--<div class="contact-right">-->
            <!--&lt;!&ndash;<div class="single-contact">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="contact-icon">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="lni-map-marker"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>ADDRESS: 28 Green Tower, New York City, USA</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="single-contact">-->
              <!--<div class="contact-icon">-->
                <!--<i class="material-icons">mail</i>-->
              <!--</div>-->
              <!--<p><a href="#">Email:  mlpriorcom@gmail.com</a></p>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="single-contact">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="contact-icon">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="lni-phone-handset"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<p><a href="#">Phone:  +84 846 250 592</a></p>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!-- Contact Section End -->

<!-- Copyright Section Start -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-xs-12">
        <div class="footer-logo">
          <!--<img src="../../assets/img/logo.png" alt="" height="50">-->
          Code repositories from <a href="https://paperswithcode.com">paperswithcode.com</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="social-icon text-center">
          <a class="twitter" href="http://twitter.com/mlprior_com"><i class="fab fa-twitter"></i></a>
          <a class="twitter" href="http://t-do.ru/mlprior"><i class="fab fa-telegram-plane"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-xs-12">
        <p class="float-right">This page was Designed and Developed by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
      </div>
    </div>
  </div>
</div>
<!-- Copyright Section End -->

<!-- Go to Top Link -->
<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<!-- Preloader -->
<!--<div articleId="preloader">-->
  <!--<div class="loader" articleId="loader-1"></div>-->
<!--</div>-->
<!-- End Preloader -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="../../assets/landing/js/jquery-min.js"></script>-->
<!--<script src="../../assets/landing/js/popper.min.js"></script>-->
<!--<script src="../../assets/landing/js/bootstrap.min.js"></script>-->
<!--<script src="../../assets/landing/js/owl.carousel.min.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.mixitup.js"></script>-->
<!--<script src="../../assets/landing/js/wow.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.nav.js"></script>-->
<!--<script src="../../assets/landing/js/scrolling-nav.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.easing.min.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.counterup.min.js"></script>-->
<!--<script src="../../assets/landing/js/nivo-lightbox.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.magnific-popup.min.js"></script>-->
<!--<script src="../../assets/landing/js/waypoints.min.js"></script>-->
<!--<script src="../../assets/landing/js/jquery.slicknav.js"></script>-->
<!--<script src="../../assets/landing/js/landing.js"></script>-->
<!--<script src="../../assets/landing/js/form-validator.min.js"></script>-->
<!--<script src="../../assets/landing/js/contact-form-script.min.js"></script>-->

</body>
