<body class="landing-page sidebar-collapse">
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
    </div>
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/articles/recent">
            <i class="material-icons">input</i> Enter
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/login" onclick="">
            <i class="material-icons">person</i> Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="page-header header-filter header-background" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">ML p(r)ior</h1>
        <h3>Your Research starts here...</h3>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="title">We help AI researchers to organize their scientific flow:</h2>
         </div>
      </div>
      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">chat</i>
              </div>
              <h4 class="info-title">Warehouse</h4>
              <p>Storing and recommending <p>research articles.
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Blog Posts</h4>
              <p>Connecting scientific papers <p>with corresponding blog posts.
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">fingerprint</i>
              </div>
              <h4 class="info-title">Analysis</h4>
              <p>Providing AI research analysis: <p>trends, hot topics, articles popularity.
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="section text-center">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <h2 class="title">ML p(r)ior stores</h2>
      </div>
    </div>
     <!--</div>-->

    <!--<div class="section section-shaped">-->
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Articles</p>
            <h3 class="card-title">{{ nArticles }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              Added today: n
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">library_books</i>
            </div>
            <p class="card-category">Blog Posts</p>

            <h3 class="card-title">{{ nBlogPosts }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              Added today: n
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fab fa-github"></i>
            </div>
            <p class="card-category">GitHub Repositories</p>
            <h3 class="card-title">{{ nGitHubs }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i>
              Added today: n
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

    <div class="section section-shaped">
      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-4 col-md-10 ml-auto">
            <h3 class="title">Storing and recommending research articles
            </h3>
            <h4 class="description">We store, analyze and recommend <strong>{{nArticles}} AI research papers</strong>... Log in to use our powerful recomndation system</h4>
            <div class="btn-wrapper">
              <a routerLink="/login" class="btn btn-primary">Login Page</a>
              <a routerLink="/signup" class="btn btn-white">Register Page</a>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 ml-auto">
            <img src="../../assets/img/landing/articles.svg" style="max-height: 350px;" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="section">

      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-7 col-md-12 ml-auto">
            <img src="../../assets/img/landing/blogposts.svg" style="max-height: 350px;" class="img-fluid">
          </div>
          <div class="col-lg-4 col-md-10 ml-auto">
            <h3 class="title">Blogposts and GitHub
            </h3>
            <h4 class="description">Quickly find Blog Posts and GitHub Repositories related to scientific papers. We store <strong>{{nBlogPosts}} Blog Posts</strong> ans <strong>{{nGitHubs}} GitHub Repositories</strong></h4>
          </div>

        </div>
      </div>
    </div>


    <div class="section">

      <div class="container py-md">
        <div class="row row-grid justify-content-between align-items-center">

          <div class="col-lg-4 col-md-10 ml-auto">
            <h3 class="title">Study latest AI trends
            </h3>
            <h4 class="description">Use our beautiful interactive visualizations for discovering AI research world</h4>
          </div>
          <div class="col-lg-7 col-md-12 ml-auto">
            <img src="../../assets/img/landing/analytics.svg" style="max-height: 350px;" class="img-fluid">
          </div>
        </div>
      </div>
    </div>






    <div class="section section-contacts">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <h2 class="text-center title">Subscribe to our news</h2>
          <form #subscribeForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating"><strong>Your Name</strong></label>
                  <input type="text"
                         id="name"
                         class="form-control"
                         ngModel
                         name="name"
                         required
                         placeholder="My name is ML p(r)ior! What is you name?">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating"><strong>Your Email</strong></label>
                  <input type="email"
                         id="email"
                         class="form-control"
                         ngModel
                         name="email"
                         required
                         placeholder="Email...">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleMessage" class="bmd-label-floating"><strong>Comment? Suggestion?</strong></label>
              <textarea type="text"
                        id="text"
                        class="form-control"
                        ngModel
                        name="text"
                        placeholder="Type here..."></textarea>
            </div>
            <div class="row">
              <div class="col-md-4 ml-auto mr-auto text-center">
                <button class="btn btn-primary btn-raised" (click)="onSubmit(subscribeForm)">
                  Subscribe
                </button>
              </div>
            </div>
            <div class="row" *ngIf="isSuccess">
              <div class="col-md-4 ml-auto mr-auto text-center">
                Your message was successfully sent. Thank you friend!
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-default">
  <div class="container">
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, ML p(r)ior
    </div>
  </div>
</footer>
</body>
