<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <i class="fas fa-align-left"></i>
    </div>
    <mat-card-title>Highlights - Most important sentences from the article</mat-card-title>
    <!--<h5 class="text-rose">Most important sentences from the article</h5>-->
  </mat-card-header>



  <mat-card-content >
    <!--<h5 class="text-rose">Help us improve our service, select relevant sentences!</h5>-->
  <mat-action-list *ngIf="!collapsed">
    <p *ngFor="let sentence of summary">
    <button mat-list-item  (click)="setLikeToSummarySentence(sentence)" style="display: inline-block;">
      <!--<div>(click)="setLikeToSummarySentence(sentence)"</div>-->
      <span>{{sentence.nLikes}}</span>
      <mat-icon matListIcon [ngClass]="sentence.isLike ? 'primary-icon' : 'grey-icon'">favorite</mat-icon>
      <span style=" padding-left: 1.25rem; text-align: left; display: inline-block; height: auto;">{{sentence.sentence}}</span>
    </button>
    </p>
  </mat-action-list>
    <mat-action-list *ngIf="collapsed">
      <p>
        <button mat-list-item  (click)="setLikeToSummarySentence(summary[0])" style="display: inline-block;">
          <!--<div>(click)="setLikeToSummarySentence(sentence)"</div>-->
          <span>{{summary[0].nLikes}}</span>
          <mat-icon matListIcon [ngClass]="summary[0].isLike ? 'primary-icon' : 'grey-icon'">favorite</mat-icon>
          <span style=" padding-left: 1.25rem; text-align: left; display: inline-block; height: auto;">{{summary[0].sentence}}</span>
        </button>
      </p>
      <button mat-raised-button color="primary"  class="mlprior-primary-button align-content-center" (click)="showSummary()" *ngIf="collapsed">Show more...</button>
    </mat-action-list>

  </mat-card-content>

  <mat-card-actions *ngIf="!collapsed">
    <p>
    <span class="text-rose" *ngIf="isFeedbackSent">Thank you for your feedback!</span>
    </p>
    <button mat-raised-button color="primary" (click)="sendFeedbackAboutSummary(summary)" [disabled]="isFeedbackSent">Submit feedback</button>
  </mat-card-actions>

</mat-card>
