
<div class="row align-items-center">
  <!--<div class="col-lg-6 col-md-8 col-sm-8 ml-auto mr-auto mt-auto ">-->
  <div *ngIf="isLoading" style="text-align: center;">
    <mat-spinner></mat-spinner>
  </div>

  <div class="card card-login" *ngIf="!isLoading">
    <h3 class="text-center">Request Demo</h3>
    <form #authForm="ngForm" *ngIf="!isLoading">
      <div class="card-body ">
        <h4>Select you feature of interest: <span class="text-rose">*</span></h4>
        <mat-radio-group
          class="example-radio-group"
          [(ngModel)]="favoriteFeature"
          [ngModelOptions]="{standalone: true}"
        required>
          <mat-radio-button color="primary" class="example-radio-button" *ngFor="let feature of features" [value]="feature">
            {{feature}}
          </mat-radio-button>
        </mat-radio-group>

        <h3 class="card-description text-center">Leave your contacts. We will contact you soon</h3>

        <div class="form-group has-default bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fas fa-user-alt"></i><span class="text-rose">*</span>
                            </span>
            </div>
            <input type="text"
                   id="name"
                   class="form-control"
                   ngModel
                   name="name"
                   required
                   placeholder="You first name...">
            <span class="text-rose" *ngFor="let error of errors.firstName"><br/>
              {{ error }}</span>
          </div>
        </div>
        <div class="form-group has-default bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-envelope"></i><span class="text-rose">*</span>
                            </span>
            </div>
            <input type="email"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   placeholder="Email...">
          </div>
          <span class="text-rose" *ngFor="let error of errors.email"><br/>
            {{ error }}</span>
        </div>

        <div class="form-group has-default bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-comment-alt"></i>
                            </span>
            </div>
            <input type="text"
                   id="text"
                   class="form-control"
                   ngModel
                   name="text"
                   placeholder="Message...">
          </div>
          <span class="text-rose" *ngFor="let error of errors.email"><br/>
            {{ error }}</span>
        </div>
        <span class="text-rose" *ngFor="let error of errors">{{ error }}<br/></span>

      </div>
      <div class="card-footer justify-content-center">
        <button mat-raised-button color="primary" (click)="onSubmit(authForm)" *ngIf="!submitted">Submit</button>
        <h4 class="text-rose" *ngIf="submitted">Thank you!</h4>
        <!--<button class="btn btn-primary btn-user btn-block" (click)="onSubmit(authForm)">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>-->
      </div>
    </form>
  </div>
</div>


