
<app-filters></app-filters>




<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="articles.length == 0 && !isLoading">
  <h3>No articles found...</h3>
</div>


<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
>

  <div *ngFor="let article of articles">
    <app-article-card [article]="article" [isAuthenticated]="isAuthenticated"></app-article-card>
  </div>
</div>

<div class="alert alert-danger" *ngIf="error">
  <h3>An error occurred!</h3>
  <p>{{ error }}</p>
</div>
