


<div class="row">
  <div class="col-md-auto ml-auto mr-auto">
    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
      <button mat-raised-button color="primary" class="mlprior-warning-button" routerLink="/premium" *ngIf="!authService.isPremium">Premium</button>
    </ul>
  </div>
  <div class="col-md-auto ml-auto mr-auto">
    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
      <div class="nav-item dropdown" *ngIf="authService.isAuthenticated">
        <button mat-raised-button  [matMenuTriggerFor]="menu"><i class="material-icons">person</i>Account</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="profile">Profile</button>
          <button mat-menu-item (click)="onLogout()">Log out</button>
        </mat-menu>
      </div>
      <button mat-raised-button color="primary" class="mlprior-primary-button" routerLink="/login" *ngIf="!authService.isAuthenticated">Login</button>
    </ul>
  </div>
</div>
