
<div class="row align-items-center">
  <!--<div class="col-lg-6 col-md-8 col-sm-8 ml-auto mr-auto mt-auto ">-->
  <div *ngIf="isLoading" style="text-align: center;">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!isLoading">
    <p></p>
    <div class="business-item-info">
    <h1 class="text-center text-dark">Predict probability of being accepted</h1>
    </div>
    <form #authForm="ngForm" *ngIf="!isLoading">
      <div class="card-body ">
        <h4 class="text-center text-dark">AISTATS, ICML, ICLR, CVPR, KDD, ACL, NeurIPS, AAAI, WWW</h4>
<div class="justify-content-md-center">
        <div class=" form-group has-default bmd-form-group">
          <div class="input-group">
            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="far fa-envelope"></i><span class="text-rose">*</span>
                            </span>
            </div>
            <input type="email"
                   id="email"
                   class="form-control"
                   ngModel
                   name="email"
                   required
                   placeholder="Email...">
          </div>
        </div>
</div>
        <span class="text-rose" *ngFor="let error of errors">{{ error }}<br/></span>

        <p></p>
        <div *ngIf="!isLoading" class="text-center">
          <button mat-raised-button  color="primary" (click)="onClick(authForm)">Upload PDF</button>
          <input style="display:none;" type="file" id="fileUpload" placeholder="Upload file" accept=".pdf">
        </div>
        <div *ngIf="isLoading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <p></p>
        <div class="text-center" *ngIf="resultSvg" [innerHTML]="resultSvg | sanitizeHtml">
        </div>
      </div>
    </form>
  </div>
</div>


