

<!--<div class="card shadow mb-4"> &lt;!&ndash; [style.opacity]="!article.has_neighbors ? '.8' : '1.0'"> &ndash;&gt;-->
  <!--<div class="card-header py-3">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-10">-->
        <!--<div class="text-gray" *ngIf="!article.has_neighbors">Processing...</div>-->
        <!--<a [routerLink]="['/', 'articles', 'details', article.id]">-->
          <!--<h3 class="card-title" style="">{{ article.title }}</h3></a>-->

      <!--</div>-->
      <!--<div class="col-sm-2 text-danger">-->
        <!--<div style="float: left">-->
          <!--<strong>{{ article.date }}</strong>-->
        <!--</div>-->
        <!--&lt;!&ndash;{% include 'articles/utils/more_dropdown.html' %}&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-10">-->
        <!--<div class="h7 pl-3 pt-2 font-weight-bold text-gray-800">-->
          <!--<app-authors-list [article]="article"></app-authors-list>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-2">-->
        <!--{{ article.arxiv_id }} | {{ article.category }}-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
  <!--<div class="card-body">-->

    <!--&lt;!&ndash;{{article.abstract}}&ndash;&gt;-->

    <!--<div *ngIf="article.abstract.length <= limit">{{article.abstract}}</div>-->
    <!--<div *ngIf="truncating && article.abstract.length > limit">-->
      <!--{{article.abstract | truncate : limit}}-->
      <!--<a (click)="truncating = false" href="#">show more</a>-->
    <!--</div>-->
    <!--<div *ngIf="!truncating && article.abstract.length > limit">-->
      <!--{{article.abstract}}-->
    <!--</div>-->

    <!--<hr>-->
    <!--<div class="row form-group">-->

      <!--<div class="col-sm-10 button-row">-->

        <!--<button mat-raised-button [routerLink]="['/articles', 'details', article.id]" color="primary"  class="mlprior-primary-button">Details</button>-->
        <!--<div class="note-button">-->
          <!--<a mat-stroked-button attr.aria-controls="collapseUtilities"-->
                  <!--aria-expanded="false" data-toggle="collapse"-->
                  <!--attr.data-target="#summary-collapse-{{ article.id }}" style="font-weight: bold;" (click)="onSummaryOpen()">Highlights</a>-->
        <!--</div>-->
        <!--<a mat-stroked-button href="{{ article.url }}" style="font-weight: bold;" target="_blank">PDF</a>-->


        <!--<button mat-stroked-button *ngIf="!article.in_lib"-->
                <!--(click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated"><span style="font-weight: bold;">Save to Library</span>-->
        <!--</button>-->

        <!--<button mat-stroked-button *ngIf="article.in_lib"-->
                <!--(click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated" style="font-weight: bold;">Saved</button>-->

        <!--<div class="note-button">-->
          <!--<span class="note-badge" id="note-badge-{{ article.id }}" *ngIf="note.value != ''"> </span>-->
          <!--<button mat-stroked-button attr.aria-controls="collapseUtilities"-->
                  <!--aria-expanded="false" data-toggle="collapse"-->
                  <!--attr.data-target="#note-collapse-{{ article.id }}" [disabled]="!isAuthenticated" style="font-weight: bold;">Note</button>-->
        <!--</div>-->


      <!--</div>-->

      <!--<div class="col-md-2">-->
      <!--<app-articlelike [article]="article" [isAuthenticated]="isAuthenticated"></app-articlelike>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->




<mat-card class="mt-3">

  <mat-card-header>
    <div class="col-sm-10">
    <a [routerLink]="['/', 'articles', 'details', article.id]"><mat-card-title class="text-dark" style="margin-left: -50px;">{{ article.title }}</mat-card-title></a>
    </div>
    <div class="col-sm-2 text-danger">
    <strong>{{ article.date }}</strong>
  </div>
  </mat-card-header>
  <mat-card-content >
    <div class="row">
      <div class="col-sm-10">
        <div class="h7 pl-3 pt-2 font-weight-bold text-gray-800">
          <app-authors-list [article]="article"></app-authors-list>
        </div>
      </div>
      <div class="col-sm-2">
        {{ article.arxiv_id }} | {{ article.category }}
      </div>
    </div>

    <hr>
    <div *ngIf="article.abstract.length <= limit">{{article.abstract}}</div>
    <div *ngIf="truncating && article.abstract.length > limit">
      {{article.abstract | truncate : limit}}
      <a (click)="truncating = false" href="#">show more</a>
    </div>
    <div *ngIf="!truncating && article.abstract.length > limit">
      {{article.abstract}}
    </div>

  </mat-card-content>

  <mat-card-actions>
    <div class="row">
    <div class="col-sm-10 button-row">
    <button mat-raised-button [routerLink]="['/articles', 'details', article.id]" color="primary"  class="mlprior-primary-button">Details</button>
    <div class="note-button">
      <a mat-stroked-button attr.aria-controls="collapseUtilities"
         aria-expanded="false" data-toggle="collapse"
         attr.data-target="#summary-collapse-{{ article.id }}" style="font-weight: bold;" (click)="onSummaryOpen()">Highlights</a>
    </div>
    <a mat-stroked-button href="{{ article.url }}" style="font-weight: bold;" target="_blank">PDF</a>


    <button mat-stroked-button *ngIf="!article.in_lib"
            (click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated"><span style="font-weight: bold;">Save to Library</span>
    </button>

    <button mat-stroked-button *ngIf="article.in_lib"
            (click)="articleService.addRemoveFromLib(article)" [disabled]="!isAuthenticated" style="font-weight: bold;">Saved</button>

    <div class="note-button">
      <span class="note-badge" id="note-badge-{{ article.id }}" *ngIf="note.value != ''"> </span>
      <button mat-stroked-button attr.aria-controls="collapseUtilities"
              aria-expanded="false" data-toggle="collapse"
              attr.data-target="#note-collapse-{{ article.id }}" [disabled]="!isAuthenticated" style="font-weight: bold;">Note</button>
    </div>
    </div>
    <div class="col-sm-2">
      <app-articlelike [article]="article" [isAuthenticated]="isAuthenticated"></app-articlelike>
    </div>
    </div>


    <div class="collapse article-note" id="note-collapse-{{ article.id }}">
      <div class="ml-2">
      <p>
          <textarea #note class="form-control note-area note-form" id="note-{{ article.id }}"
                    placeholder="You type, we save..."
                    attr.data-article-id="{{ article.id }}" rows="3"
                    [(ngModel)]="article.note" (input)="updateNote(note.value, article)">{{ article.note }}</textarea>
      </div>
    </div>
   </mat-card-actions>


</mat-card>

<div class="collapse article-note mt-3" id="summary-collapse-{{ article.id }}">
  <app-summary [summary]="article.summary_sentences" [collapsed]="false"></app-summary>
</div>
