<div class="row mb-4">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
        <div class="card-icon">
          <i class="fas fa-th-list"></i>
        </div>
        <p class="card-category">Articles</p>
        <h3 class="card-title">{{ nArticles }}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>
          Added today: n
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fas fa-bookmark"></i>
        </div>
        <p class="card-category">Articles in Library</p>
        <h3 class="card-title">{{ nArticlesInLib }}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>
          Likes: n
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">library_books</i>
        </div>
        <p class="card-category">Blog Posts</p>
        <h3 class="card-title">{{ nBlogPosts }}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>
          Added today: n
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fab fa-github"></i>
        </div>
        <p class="card-category">GitHub Repositories</p>
        <h3 class="card-title">{{ nGitHubs }}
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">date_range</i>
          Added today: n
        </div>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">equalizer</i>
        </div>
        <h4 class="card-title">All Categories <a style="color: #4e73df !important;"
                                                 ngbPopover="The most popular categories of ArXiv papers are presented here..."
                                                 triggers="mouseenter:mouseleave"><i class="fas fa-question"></i></a></h4>
      </div>
      <div class="card-body">
        <app-categories></app-categories>
      </div>
    </div>
  </div>
</div>


<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="card ">-->
      <!--<div class="card-header card-header-success card-header-icon">-->
        <!--<div class="card-icon">-->
          <!--<i class="material-icons">equalizer</i>-->
        <!--</div>-->
        <!--<h4 class="card-title">Trends <a style="color: #4e73df !important;"-->
                                         <!--ngbPopover="Trends in AI are calculated with the analysis of {{nArticles}} scientific papers from ArXiv. Feel free to play with the plot choosing different keywords..."-->
                                         <!--triggers="mouseenter:mouseleave"><i class="fas fa-question"></i></a></h4>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<app-trends></app-trends>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


