<div id="generic_price_table">
    <div class="container">

      <!--BLOCK ROW START-->
      <div class="row align-items-center">
        <div class="col-md-6">

        <!--PRICE CONTENT START-->
        <div class="generic_content clearfix">

        <!--HEAD PRICE DETAIL START-->
        <div class="generic_head_price clearfix">

        <!--HEAD CONTENT START-->
        <div class="generic_head_content clearfix">

        <!--HEAD START-->
        <div class="head_bg"></div>
        <div class="head">
        <span>Score</span>
        </div>
        <!--//HEAD END-->

        </div>
        <!--//HEAD CONTENT END-->

        <!--PRICE START-->
        <div class="generic_price_tag clearfix">
        <span class="price">
        <span class="sign"></span>
        <span class="currency">FREE</span>
        <span class="cent"></span>
        <span class="month"></span>
        </span>
        </div>
        <!--//PRICE END-->

        </div>
        <!--//HEAD PRICE DETAIL END-->

        <!--FEATURE LIST START-->
        <div class="generic_feature_list">
        <ul>
        <li><span>Personal articles recommendations</span></li>
        <li><span>Summary for each article</span></li>
        <li><span>Github repositories</span></li>
        </ul>
        </div>
        <!--//FEATURE LIST END-->

        <!--BUTTON START-->
        <div class="generic_price_btn clearfix">
        <button (click)="onClick()">Upload PDF</button>
          <input style="display:none;" type="file" id="fileUpload" placeholder="Upload file" accept=".pdf">

        </div>
        <!--//BUTTON END-->

        </div>
        <!--//PRICE CONTENT END-->

        </div>

        <div class="col-lg-6 col-md-8 col-sm-8 ml-auto mr-auto mt-auto">

          <!--PRICE CONTENT START-->
          <div class="generic_content active clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Analyse</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">4</span>
                                    <span class="cent">.99</span>
                                    <!--<span class="month">/MON</span>-->
                                </span>
                <!--<span class="price">14 days trial</span>-->
              </div>
              <!--//PRICE END-->


            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>Personal articles recommendations</span></li>
                <li><span>Summary for each article</span></li>
                <li><span>Github repositories</span></li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <div class="generic_price_btn clearfix">
              <button class="" (click)="openDialog()">Request demo</button>
            </div>

            <!--<div [hidden]="paidFor" #paypal></div>-->

            <!--BUTTON START-->
            <!--<div class="generic_price_btn clearfix">-->
            <!--&lt;!&ndash;<a class="" href="">Sign up</a>&ndash;&gt;-->
            <!--<form #form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">-->
            <!--<input type="hidden" name="cmd" value="_s-xclick">-->
            <!--<input type="hidden" name="hosted_button_id" value="U8TKP4EFVRKVC">-->
            <!--<input type="image" (click)="form.submit()" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">-->
            <!--<img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">-->
            <!--</form>-->
            <!--</div>-->
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>

      </div>
      <!--//BLOCK ROW END-->

    </div>
</div>
