<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<div id="chart-demo" *ngIf="!isLoading">
  <div class="options">
    <div class="option">
      <span>Resolution</span>
      <dx-select-box
        [dataSource]="resolutionKeys"
        [(value)]="resIdx">
      </dx-select-box>
    </div>
  </div>
  <dx-chart palette="Harmony Light"
    [dataSource]="trendInfo">
    <dxo-common-series-settings type="bar"
                                argumentField="date"
                                valueField="value">
      <dxo-aggregation [enabled]="true" method="sum"></dxo-aggregation>
    </dxo-common-series-settings>
    <dxo-series-template nameField="key"></dxo-series-template>
    <dxo-margin [bottom]="20" [left]="10"></dxo-margin>
    <dxo-common-axis-settings>
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-common-axis-settings>
    <dxo-legend location="top"
      verticalAlignment="top"
      horizontalAlignment="center">
    </dxo-legend>
    <dxo-argument-axis
        argumentType="datetime"
        [visualRange]="visualRange"
        minlength="month">
      <dxo-min-visual-range-length [months]="resolutions[resIdx]"></dxo-min-visual-range-length>
      <dxo-tick-interval [months]="resolutions[resIdx]"></dxo-tick-interval>
      <dxo-aggregation-interval [months]="resolutions[resIdx]"></dxo-aggregation-interval>
    </dxo-argument-axis>
    <dxo-export [enabled]="false"></dxo-export>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
  </dx-chart>
  <dx-range-selector
      [dataSource]="trendInfo"
      [(value)]="visualRange">
    <dxo-size [height]="120"></dxo-size>
    <dxo-margin [left]="10"></dxo-margin>
    <dxo-scale
      valueType="datetime"
      minRange="month">
      <dxo-aggregation-interval [months]="resolutions[resIdx]"></dxo-aggregation-interval>
      <dxo-tick-interval [months]="resolutions[resIdx]"></dxo-tick-interval>
    </dxo-scale>
    <dxo-behavior callValueChanged="onMoving"></dxo-behavior>
    <dxo-chart palette="Harmony Light">
      <dxo-common-series-settings
        argumentField="date"
        valueField="value"
        type="bar">
        <dxo-aggregation [enabled]="true" method="sum"></dxo-aggregation>
        <dxo-aggregation-interval [months]="resolutions[resIdx]"></dxo-aggregation-interval>
      </dxo-common-series-settings>
      <dxo-series-template
        nameField="key">
      </dxo-series-template>
    </dxo-chart>
  </dx-range-selector>
</div>
