<div id="chart-demo">
  <div class="options">
    <div class="option">
      <dx-select-box
        [dataSource]="resolutions"
        [(value)]="resolutions[0]">
      </dx-select-box>
    </div>
    <div class="option">
      <span>Resolution</span>
      <dx-select-box
        [dataSource]="resolutions"
        [(value)]="resolutions[0]">
      </dx-select-box>
    </div>
  </div>
  <dx-chart
    palette="violet"
    [dataSource]="trendInfo"
    [series]="seriesOptions">
    <dxo-common-series-settings #seriesSettings
                                argumentField="date"
                                type="spline">
    </dxo-common-series-settings>
    <dxo-margin [bottom]="20"></dxo-margin>
    <dxo-common-axis-settings>
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-common-axis-settings>
    <dxo-legend
      verticalAlignment="top"
      horizontalAlignment="center"
      location="top"
      >
    </dxo-legend>
    <dxo-argument-axis [allowDecimals]="true" [axisDivisionFactor]="60">
      <dxo-label>
        <dxo-format type="decimal"></dxo-format>
      </dxo-label>
    </dxo-argument-axis>
    <dxo-export [enabled]="false"></dxo-export>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
  </dx-chart>
</div>
